<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar-completa"
				aria-expanded="false">
				<span class="sr-only">Esconder/mostrar barra de navegação</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Curso WEB</a>
		</div>

		<div class="collapse navbar-collapse"
			id="navbar-completa">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active">
					<a ui-sref="inicio">Inicio</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref="usuarios">Usuario</a>
				</li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li ui-sref-active="active"><a ui-sref="sobre">Sobre</a></li>
			</ul>
		</div>
	</div>
</nav>
