<div class="row">
	<div class="col-md-12">
		<button class="btn btn success" ui-sref="usuariosEdit({id:'novo'})">Novo</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table" ng-init="carregar()">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Apelido</th>
					<th>Idade</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="u in usuarios track by $index">
					<td>{{u.id}}</td>
					<td>{{u.nome}}</td>
					<td>{{u.apelido}}</td>
					<td>{{u.idade}}</td>
					<td>
						<a ui-sref="usuariosEdit({id:u.id})" class="btn btn-xs btn-default">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
						<a ng-click="remove(u)" class="btn btn-xs btn-danger">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
				</tr>
			</tbody>
			
		</table>
	</div>
</div>