<div class="row">
	<div class="col-md-4">
		<div>
			<label>Nome:</label>
		</div>
	</div>
	<div class="col-md-4">
		<div>
			<label>Apelido:</label>
		</div>
	</div>
	<div class="col-md-4">
		<div>
			<label>Idade:</label>
		</div>
	</div>
</div>
<div class="row" ng-init="edit()">
	<div class="col-md-4">
		<div class=form-group>
			<label>
				<input type="text" class="form-control" ng-model="usuario.nome">
			</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class=form-group>
			<label>
				<input type="text" class="form-control" ng-model="usuario.apelido">
			</label>
		</div>
	</div>
	<div class="col-md-4">
		<div class=form-group>
			<label>
				<input type="text" class="form-control" ng-model="usuario.idade">
			</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a class="btn btn-default" ui-sref="usuarios">Voltar</a>
		<button class="btn btn-primary" ng-click="save()">Salvar</button>
	</div>
</div>
